html {
    box-sizing: border-box;
    font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    list-style: none;
}

div {
    box-sizing: border-box;
}

/*** End CSS Reset ***/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|VT323&display=swap');

body {
    background-color: #F2AF29;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ea4f00' fill-opacity='0.5'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0 0 10px;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'VT323';
}

img {
    max-width: 100%;
    height: auto;
}

.main a {
    color: #ce0e2d;
}

.content {
    margin: 25px auto;
    width: 90%;
}