.nav {
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 15px 25px;
    background: #ce0e2d;
    border-radius: 10px 0px 0px 0px;
}
.nav li {
    padding: 0;
    margin: 5px 0;
    font-family: 'VT323';
    font-size: 1.7em;
    letter-spacing: 3px; 
    text-align: right;
}
.nav a {
    color: #e0e0ce;
    text-decoration: none;
}