.window {
    position: relative;
    width: 90%;
    margin: 25px auto;
    background: #e0e0ce;
    color: #111;
    border-radius: 10px;
    border: 3px solid #ce0e2d;
}

@media (min-width: 768px) {
    .window {
        width: 90%;
        grid-column: 2 / 6;
        grid-row: 1 / 5;
    }

    .window_inner::-webkit-scrollbar,
    .window_inner::-webkit-scrollbar-corner {
        background: transparent;
    }
    .window_inner::-webkit-scrollbar-thumb {
        background: #ce0e2d;
    }
    .window_inner {
        overflow: scroll;
        height: 100%;
        width: 100%;
        scrollbar-color: #ce0e2d transparent;
        scrollbar-3dlight-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-base-color: transparent;
        scrollbar-darkshadow-color: transparent;
        scrollbar-face-color: #ce0e2d;
        scrollbar-highlight-color: transparent;
        scrollbar-shadow-color: transparent;
    }
}